{% extends "base.html" %}
{% block title %}前端崩溃日志{% endblock %}

{% block mycss %}
  <link href="http://cdn.bootcss.com/bootstrap-modal/2.2.5/css/bootstrap-modal-bs3patch.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/bootstrap-modal/2.2.5/css/bootstrap-modal.css" rel="stylesheet">
{% endblock %}

{% block myjs %}
  <script src="http://cdn.bootcss.com/bootstrap-modal/2.2.5/js/bootstrap-modal.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap-modal/2.2.5/js/bootstrap-modalmanager.min.js"></script>
  <script src="/static/js/manager.js"></script>
  <script src="/static/js/login_modal.js"></script>
  <script src="/static/js/change_password.js"></script>
  <script>
$(document).ready(handle_manager);
$(document).ready(validate_and_login);
$(document).ready(validate_and_change);
  </script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">前端崩溃日志</h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Host</th>
              <th>Port</th>
              <th>账户名</th>
              <th>角色名</th>
              <th>时间</th>
              <th>堆栈</th>
            </tr>
          </thead>
          <tbody>
          {% for crash in crashes %}
            <tr>
              <td>{{ crash.host }}</td>
              <td>{{ crash.port }}</td>
              <td>{{ crash.acc_name }}</td>
              <td>{{ crash.nick }}</td>
              <td>{{ crash.time|date:"Y-m-d H-i-s" }}</td>
              <td width=360 style="WORD-WRAP: break-word">{{ crash.stacktrace }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="bg-warning">
      <span><strong>前端post方法:</strong></span> curl -d "host=192.168.1.111&port=8000&acc_id=1&acc_name=中文&uid=1&nick=中文&stacktrace=中文" "http://192.168.1.111:8008/manager/crash"
    </div>
  </div>
{% endblock %}
