{% extends "admin_base.html" %}

{% block mycss %}
  <link href="http://cdn.bootcss.com/bootstrap-modal/2.2.5/css/bootstrap-modal-bs3patch.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/bootstrap-modal/2.2.5/css/bootstrap-modal.css" rel="stylesheet">
  <style type="/text/css">
.container{
  width: 880px;
}
  </style>
{% endblock %}

{% block myjs %}
  <script src="http://cdn.bootcss.com/bootstrap-modal/2.2.5/js/bootstrap-modal.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap-modal/2.2.5/js/bootstrap-modalmanager.min.js"></script>
  <script src="/static/js/manager.js?v=1.1"></script>
  <script src="/static/js/login_modal.js"></script>
  <script src="/static/js/change_password.js"></script>
  <script>
$(document).ready(handle_manager);
$(document).ready(validate_and_login);
$(document).ready(validate_and_change);
  </script>
{% endblock %}

{% block content %}
  <section class="content-header">
    <h1>
      <i class="fa fa-gamepad"></i>服务器管理
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-gamepad"></i> Home</a></li>
      <li class="active">服务器管理</li>
    </ol>
  </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">服务器列表<span class="badge">{{ svrs|length}}</span></h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>服务器名</th>
                  <th>IP</th>
                  <th>Port</th>
                  <th>状态</th>
                  <th>热更操作</th>
                  <th>开关服</th>
                </tr>
                {% for svr in svrs %}
                  <tr>
                    <td><span class="badge bg-blue">{{ svr.name }}</span></td>
                    <td>{{ svr.ip }}</td>
                    <td>{{ svr.port }}</td>
                    <td>
                      {% if svr.is_live %}
                        <span class="badge bg-green"><i class="fa fa-play"></i>开启中</span>
                      {% else %}
                        <span class="badge text-muted"><i class="fa fa-power-off"></i>未开启</span>
                      {% endif %}
                    </td>
                    <td>
                      <button class="btn btn-primary btn-xs reload_confs" svr-id={{ svr.id }} data-loading-text="<i class='fa fa-spinner fa-pulse'></i>热更中"><i class="fa fa-refresh"></i>配置</button>
                      <button class="btn btn-primary btn-xs reload_svr" svr-id={{ svr.id }} data-loading-text="<i class='fa fa-spinner fa-pulse'></i>热更中"><i class="fa fa-refresh"></i>整服</button>
                    </td>
                    <td>
                      {% if svr.is_live %}
                        <button class="btn btn-default btn-xs close-svr" svr-id={{ svr.id }}><i class="fa fa-power-off"></i>关服</button>
                      {% else %}
                        <button class="btn btn-success btn-xs open-svr" svr-id={{ svr.id }}><i class="fa fa-play"></i>开服</button>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">最近操作历史</h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>谁</th>
                  <th>哪个服</th>
                  <th>干什么</th>
                  <th>时间</th>
                </tr>
                {% for history in histories %}
                  <tr>
                    <td>{{ history.who }}</td>
                    <td>{{ history.svr_name }}</td>
                    <td>{{ history.what }}</td>
                    <td>{{ history.time|date:"Y-m-d H:i:s" }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
      {% include "account/login_modal.html" %}
      {% include "account/change_password.html" %}
    </section><!-- /.content -->
{% endblock %}
