{% extends "base.html" %}
{% block title %}服务器管理{% endblock %}

{% block mycss %}
  <link href="http://cdn.bootcss.com/bootstrap-modal/2.2.5/css/bootstrap-modal-bs3patch.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/bootstrap-modal/2.2.5/css/bootstrap-modal.css" rel="stylesheet">
  <style type="/text/css">
.container{
  width: 880px;
}
  </style>
{% endblock %}

{% block myjs %}
  <script src="http://cdn.bootcss.com/bootstrap-modal/2.2.5/js/bootstrap-modal.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap-modal/2.2.5/js/bootstrap-modalmanager.min.js"></script>
  <script src="/static/js/manager.js?v=0.3"></script>
  <script src="/static/js/login_modal.js"></script>
  <script src="/static/js/change_password.js"></script>
  <script>
$(document).ready(handle_manager);
$(document).ready(validate_and_login);
$(document).ready(validate_and_change);
  </script>
{% endblock %}

{% block content %}
  <div class="container content-sep">
    <div class="col-sm-4">
      <div class="btn-group-vertical">
        <button id="reload_confs" class="btn btn-primary" data-loading-text="热更中...">热更配置</button>
        <button id="reload_svr" class="btn btn-primary" data-loading-text="热更中...">热更整服</button>
        <button id="reboot_svr" class="btn btn-primary disabled">重启服务器</button>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">最近操作历史</h3>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>谁</th>
                <th>干什么</th>
                <th>时间</th>
              </tr>
            </thead>
            <tbody>
            {% for history in histories %}
              <tr>
                <td>{{ history.who }}</td>
                <td>{{ history.what }}</td>
                <td>{{ history.time|date:"Y-m-d H-i-s" }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <!--
          <ul class="list-unstyle">
          {% for history in histories %}
            <li>
              <span class="text-primary">{{ history.who }} </span>
              <span class="text-success">{{ history.time|date:"于Y-m-d H-i-s" }} </span>
              <span class="text-warning">{{ history.what }}</span>
            </li>
          {% endfor %}
          </ul>
          -->
        </div>
      </div>
    </div>
    <!-- Modal -->
    {% include "account/login_modal.html" %}
    {% include "account/change_password.html" %}
  </div>
{% endblock %}
