<!--
<div class="container">
    <div class="row">
      <div class="text-info">
        <h2>修改密码</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7">
        <form id="changePasswordForm" class="form-horizontal" role="form">
          <div class="form-group">
            <label for="ori-password" class="col-sm-2 control-label">当前密码</label>
            <div class="col-sm-4">
              <input type="password" class="form-control" id="ori-password" name="oriPassword">
            </div>
          </div>
          <div class="form-group">
            <label for="pw1" class="col-sm-2 control-label">新密码</label>
            <div class="col-sm-4">
              <input type="password" class="form-control" name="pw1">
            </div>
          </div>
          <div class="form-group">
            <label for="pw2" class="col-sm-2 control-label">确认新密码</label>
            <div class="col-sm-4">
              <input type="password" class="form-control" name="pw2">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
              <button type="submit" class="btn btn-primary btn-block">确认修改密码</button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
              <span id="error-text" style="color: #FF0000;"></span>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-5">
        <h4 class="text-info">如何使密码更安全?</h4>
        <ul>
          <li>使用数字和大小写字母的组合作为密码。</li>
          <li>密码中勿包含个人信息（如姓名、生日等）。</li>
          <li>不使用和其他网站相同的密码。</li>
          <li>定期修改密码。</li>
        </ul>
      </div>
    </div>
  </div>
-->

<div id="changePasswordModal" class="modal fade" tabindex="-1" data-width="500" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">修改密码</h4>
  </div>
  <div class="modal-body">
    <div class="">
      <form id="changePasswordForm" class="form-horizontal" role="form">
        <div class="form-group">
          <label for="ori-password" class="col-sm-3 control-label">当前密码</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="ori-password" name="oriPassword">
          </div>
        </div>
        <div class="form-group">
          <label for="pw1" class="col-sm-3 control-label">新密码</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="pw1">
          </div>
        </div>
        <div class="form-group">
          <label for="pw2" class="col-sm-3 control-label">确认新密码</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="pw2">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary btn-block">确认修改密码</button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <span id="change-error-text" style="color: #FF0000;"></span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
  </div>
</div>
